
    <script>
        $(document).ready(function() {
          $(document).on({
            keydown:function (event) {
              if (event.which === 79) {
                $('#up').addClass('btn-info');
                angular.element($('#robotCtrl')).scope().go_straight();
              } else if (event.which === 76) {
                $('#down').addClass('btn-info');
                angular.element($('#robotCtrl')).scope().go_back();
              } else if (event.which === 75) {
                $('#left').addClass('btn-info');
                angular.element($('#robotCtrl')).scope().turn_left();
              } else if (event.which === 186) {
                $('#right').addClass('btn-info');
                angular.element($('#robotCtrl')).scope().turn_right();
              } else if (event.which === 65) {
                angular.element($('#robotCtrl')).scope().decrease_dir_angle();
              } else if (event.which === 83) {
                angular.element($('#robotCtrl')).scope().increase_dir_angle();
              } else if (event.which === 90) {
                angular.element($('#robotCtrl')).scope().decCameraAngle();
              } else if (event.which === 88) {
                angular.element($('#robotCtrl')).scope().incCameraAngle();
              } else if (event.which === 67) {
                angular.element($('#robotCtrl')).scope().cameraAngleMin();
              } else if (event.which === 86) {
                angular.element($('#robotCtrl')).scope().cameraAngleCenter();
              } else if (event.which === 66) {
                angular.element($('#robotCtrl')).scope().cameraAngleMax();
              }


            },
            keyup:function (event) {   
              if (event.which === 79) {
                angular.element($('#robotCtrl')).scope().stop();
                $('#up').removeClass('btn-info');
              } else if (event.which === 76) {
                angular.element($('#robotCtrl')).scope().stop();
                $('#down').removeClass('btn-info');
              } else if (event.which === 75) {
                angular.element($('#robotCtrl')).scope().stop();
                $('#left').removeClass('btn-info');
              } else if (event.which === 186) {
                angular.element($('#robotCtrl')).scope().stop();
                $('#right').removeClass('btn-info');
              } else if (event.which === 90) {
                angular.element($('#robotCtrl')).scope().updateCameraAngle();
              } else if (event.which === 88) {
                angular.element($('#robotCtrl')).scope().updateCameraAngle();
              }
            }
          });
        });
    </script>
<div class="container" id="robotCtrl" ng-controller="RobotCtrl">
  <div class="row">
    <h2 class="text-center" style="margin-top:0;margin-bottom:20px"> Panel sterowania robotem {{robot.robot_name}} </h2>
    <div class="col-md-5 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading text-center">Transmisja obrazu -
          <span ng-if="!isVideoConnected()">brak połączenia</span>
          <span ng-if="isVideoConnected()">uzyskano połączenie</span>
        </div>
            <div class="panel-body h-321">
              <div ng-show="!video_frame && isVideoConnected()" class="video-contener">Włącz transmisje</div>
              <img ng-src="{{video_frame}}" ng-show="video_frame" class="video-contener" id="canvas-video">
                <div class="btn-group btn-group-justified btn-video" ng-if="isVideoConnected()" role="group">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" ng-click="start_video()">Start</button>
                  </div>
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-info" ng-click="stop_video()">Stop</button>
                  </div>
                </div>
            </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading text-center">Sterowanie</div>
          <div class="panel-body">
            <div class="row" style="margin:20px 0">
              <div class="col-md-12">
                <div id="servo">
                  <div class="row">
                    <span class="col-xs-12 text-center">Serwo</span>
                  </div>
                  <div class="row">
                    <span class="col-xs-1">-90</span>
                    <span class="col-xs-10 text-center">{{getCameraAngle()}}</span>
                    <span class="col-xs-1">90</span>
                  </div>
                  <div class="row">
                    <div class="progress progress_clear rightToLeft col-xs-6">
                      <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{-getCameraAngle()/90 * 100}}%"></div>
                    </div>
                    <div class="progress progress_clear col-xs-6">
                      <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{getCameraAngle()/90 * 100}}%"></div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="row" style="margin:20px 0">
              <div class="col-md-12">
                <div id="angle">
                  <div class="row">
                    <span class="col-md-12 text-center">Kąt obrotu: <input type="number" min="0" max="180" ng-model="change_direction_by" style="background:#fff;border:0;">[0 - 180]</span>
                  </div>
                  <div class="row">
                    <span class="col-xs-12 text-center"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin:20px 0">
              <div class="col-sm-12">
                <div id="keys" style="margin:0 auto;width:135; height:60px;position:relative">
                  <button id="left" class="btn btn-primary" type="button" style="position:absolute;left:0;top:35px">
                     <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                  </button>
                  <button id="up" class="btn btn-primary" type="button" style="position:absolute;left:45;top:3px">
                     <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                  </button>
                  <button id="down" class="btn btn-primary" type="button" style="position:absolute;left:45;top:35px">
                     <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                  </button>
                  <button id="right" class="btn btn-primary" type="button" style="position:absolute;left:90;top:35px">
                     <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                  </button>
                </div>
              </div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-md-7 col-sm-12">
      <div class="panel panel-default">
          <div class="panel-heading text-center" >Mapa pomieszczenia</div>
            <div class="panel-body h-321">
                <div class="container center">
                  <canvas id="canvas-video" height="320"></canvas>
                </div>
            </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading text-center">Konfiguracja</div>
            <div class="panel-body">
              <div class="col-xs-12 col-md-4">
                <form name="update_speed_form" novalidate class="form-horizontal" ng-submit="update_speed()">
                  <h3 class="config-header">Silnik</h3>
                  <div class="input-group input-group-sm" style="margin-top:20px;margin-bottom:20px">
                    <span class="input-group-addon" id="sizing-addon3">Lewy</span>
                    <input class="form-control" placeholder="predkość [0-100]" ng-pattern="/^([0-9]|[1-9][0-9]|100)$/" ng-model="robot.motor.motor_a_speed" required>
                  </div>
                  <div class="input-group input-group-sm">
                    <span class="input-group-addon" id="sizing-addon3">Prawy</span>
                    <input  class="form-control" placeholder="predkość [0-100]" ng-pattern="/^([0-9]|[1-9][0-9]|100)$/" ng-model="robot.motor.motor_b_speed" required>
                  </div>
                  <br>
                  <div class="alert alert-danger" ng-show="isSpeedError">
                    {{speed_error_msg}}
                  </div>
                  <div class="input-group input-group-sm pull-right" style="">
                    <input  type="submit" class="btn btn-primary " value="Ustaw">
                  </div>
                </form>
              </div>
              <div class="col-xs-12 col-md-4">
                <h3 class="config-header">Czujnik odległości</h3>
                

                  <div class="input-group input-group-sm" style="margin-top:25px;margin-bottom:25px">
                   <label class="radio-inline"><input type="radio" name="distance_sensor" ng-model="distance_sensor" value="sonar">Sonar</label>
                   <label class="radio-inline"><input type="radio" name="distance_sensor" ng-model="distance_sensor" value="infrared">Podczerwień</label> 
                  </div>


                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Odległość</span>
                  <div class="form-control" ng-show="isSonar()">{{getDistanceInfrared()}} </div>
                  <div class="form-control" ng-show="isInfrared()">{{getDistanceInfrared()}}</div>
                </div>
              </div>

              <div class="col-xs-12 col-md-4">
                <h3 class="config-header">Enkoder<h3>

                <div class="input-group input-group-sm" style="margin-bottom:20px">
                  <span class="input-group-addon" id="sizing-addon3">Lewy</span>
                  <input disabled class="form-control" placeholder="" aria-describedby="sizing-addon3">
                </div>

                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Prawy</span>
                  <input  disabled class="form-control" placeholder="" aria-describedby="sizing-addon3">
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center"><a ui-sref="robots"> Wróć do listy robotów </a></p>
    </div>
  </div>
</div>
